.nav-buttons {
    margin-left: 20%;
}

.main-container {
    margin-top: 7.5%;
    margin-left: 1.5%;
}

.mapa {
    margin: 8px;
    width: 55%;
    height: 45vh;
    background-color: #b0c2f8;
}

.cont-mapa {
    margin: 8px;
    width: 40%;
    height: 45vh;
    background-color: #3f62cb;
}

.baixo-mapa {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 3px;
    width: 56%;
    height: 30vh;
}

.baixo-mapa img{
    height: 30vh;
    width: 56%;
}

.baixo-cont-mapa {
    margin: 8px;
    width: 40%;
    height: 30vh;
    background-color: #b0c2f8;
}

body {
    background-color: #c8d2f3;
}

.navbar-custom {
    background-color: #2653db;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #bccdff;
}

.navbar-custom .nav-link{
    color: #bccdff;
}

.navbar-custom .nav-item .active{
    color: #ffffff;
}

.main-cointainer{
    width: 1080px;
    height: 720px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.logo{
    width: 15%;
    margin-left: 7%;
}

.nav-item{
    font-size: 20px;
}

.body-text{
    padding: 5%;
    margin-top: 6%;
    background-color: #b6c7ff;
    min-height: 87vh;
    text-align: justify;
    font-size: x-large;
}

.body-text img:not(.carousel img){
    margin-left: 30%;
    width: 601.70px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.carousel img:hover{
    border: 5px solid #e3e3e381;
    transition: 0.2s;
    transform: scale(1.1);
}

.li-bullet-0{
    margin-left: 8%;
    margin-right: 8%;
}

.c12{
    font-size: 30px;
    font-weight: bold;
}

.c19{
    font-size: 40px;
    margin-left: 12%;
}

.body-text p{
    text-indent: 5%;
}

.body-text li{
    text-indent: 2%;
}